@import url("https://fonts.googleapis.com/css2?family=Oswald&family=Roboto:wght@400;700&display=swap");

body {
  margin: 0;
  padding: 0;
  min-width: 100vw;
  min-height: 100vh;
  background: #fbfbfb;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
}

.wrapper,
.days {
  display: grid;
  grid-template-columns: repeat(7, minmax(60px, 1fr));
  max-width: 660px;
  grid-gap: 30px;
  background: #ffffff;
}

.wrapper {
  box-shadow: 0px 2.3128px 39.3176px rgba(0, 0, 0, 0.25);
  border-radius: 24px;
  padding: 75px 100px;
  position: absolute;
  top: 50px;
}

div {
  text-align: center;
  min-height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.month {
  grid-column: span 5;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  line-height: 32px;
}

.date {
  grid-column: span 7;
  line-height: 20px;
  font-size: 20px;
  margin: -25px 0px;
}

.day-of-week {
  font-weight: bold;
}

.today {
  background: #ffd200;
  border-radius: 50%;
  height: 60px;
  width: 60px;
}

.prev-date,
.next-date {
  opacity: 0.3;
}

div:hover:not(.today) {
  border: 0.2rem solid #777;
  cursor: pointer;
}
