body {
  font-family: "Poppins", sans-serif;
}

.main-screen {
  position: relative;
  width: 1440px;
  height: 1024px;
  background: #eff0f6;
}

.background-left,
.background-top,
.background-bottom {
  position: absolute;
}

.background-left {
  top: 278px;
}

.background-top {
  left: 980px;
}

.background-bottom {
  left: 931.23px;
  top: 504.65px;
}

.menu,
.cart {
  position: absolute;
  width: 375px;
  height: 812px;
  left: 320px;
  top: 106px;
  background: #ffffff;
  box-shadow: 0px 0px 70px #c7cbe3;
  border-radius: 25px;
  border: #d7d6fc;
}

.menu {
  display: flex;
  flex-direction: column;
  overflow: scroll;
  overflow-x: hidden;
}

.menu__header,
.cart__header {
  background-color: #fff;
  position: fixed;
  width: 340px;
  height: 65px;
  font-weight: bold;
  font-size: 32px;
  line-height: 48px;
  color: #000;
  padding: 50px 0 15px 35px;
  z-index: 3;
  top: 80px;
  border-radius: 25px 25px 0 0;
}

.menu__item-list {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 387.15px;
  height: 556.03px;
  top: 118px;
}

.menu__item {
  display: flex;
  width: 370px;
  height: 150px;
  border-radius: 20px;
  margin: 15px auto 25px 0;
}

.menu__item:nth-child(n) {
  background: rgba(122, 179, 243, 0.2);
}
.menu__item:nth-child(2n),
.menu__item:nth-child(7n) {
  background: rgba(233, 121, 178, 0.2);
}
.menu__item:nth-child(3n) {
  background: rgba(215, 215, 249, 0.2);
}
.menu__item:nth-child(4n) {
  background: rgba(120, 247, 187, 0.2);
}

.menu__item-picture {
  margin-top: -18px;
  margin-left: -12px;
  width: 148px;
  height: 145px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.menu__item-frame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  width: 158px;
  height: 136px;
  left: 168.92px;
  top: 42.63px;
  margin-left: 18px;
}

.menu__item-description {
  width: 158px;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
}

.menu__item-price {
  width: 180px;
  font-weight: bold;
  font-size: 32px;
  line-height: 32px;
  color: #000;
  margin: 0 0 14px 0;
}

.menu__item-button {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 6px 20px;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
  background-color: #6b00f5;
  border-radius: 20px;
  border: #d7d6fc;
}

.inCart {
  background-color: #000;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
}

.cart {
  left: 745px;
  overflow: scroll;
  position: relative;
  /* display: flex;
  flex-direction: column; */
}

.cart__header {
}

.cart__item-list {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 325px;
  top: 118px;
  padding-bottom: 250px;
}

.cart__item {
  display: flex;
  height: 105px;
  margin: 5px 0 20px -20px;
  width: 320px;
  position: relative;
}

.cart__item::after {
  position: absolute;
  content: "";
  width: 315px;
  height: 0px;
  left: 5px;
  top: 100px;
  border: 1px solid #d7d7f9;
  margin-top: 20px;
}

.cart__item-picture {
  width: 64px;
  height: 62px;
  position: relative;
  z-index: 1;
  filter: drop-shadow(0 5px 2px rgba(0, 0, 0, 0.25));
}

.cart__item__picture-div::before {
  position: absolute;
  display: block;
  content: "";
  background-color: #000;
  font-size: 24px;
  font-weight: bold;
  color: rgb(195, 224, 224);
  width: 32px;
  height: 32px;
  border-radius: 20px;
}

.cart__item__picture-div .quantity,
.cart__item__picture-div::before {
  margin-top: 16px;
  margin-left: 16px;
  z-index: 2;
}

.cart__item__picture-div .quantity {
  position: absolute;
  font-size: 16px;
  font-weight: bold;
  color: aqua;
  line-height: 32px;
  margin-left: -37px;
}

.cart__item-frame {
  display: flex;
  flex-wrap: wrap;
  margin-left: 20px;
  height: 100px;
}

.cart__item-description {
  font-size: 18px;
  line-height: 20px;
  color: #000000;
  margin: 8px auto 0;
}

.cart__item-description,
.cart__item-price {
  width: 100%;
}

.cart__item-price {
  margin: 4px 0;
  font-weight: bold;
  font-size: 16px;
  color: #000000;
}

.cart__item-buttons {
  display: flex;
  height: min-content;
}

.cart__item-buttons,
.cart__item-amount {
  width: 50%;
}

.cart__item-quantity {
  font-weight: bold;
  font-size: 16px;
  line-height: 36px;
  color: #000000;
  margin: 0 15px;
}
.cart__item-button-more,
.cart__item-button-less {
  background-color: #6b00f5;
  border: #6b00f5;
  width: 36px;
  height: 36px;
  color: #fff;
  border-radius: 50%;
  text-align: center;
}

.material-icons-outlined.md-36 {
  font-size: 36px;
}

.cart__item-amount {
  font-weight: bold;
  font-size: 32px;
  line-height: 32px;
  text-align: right;
  color: #000000;
  margin: 0;
}

.cart__resume {
  position: fixed;
  width: 355px;
  margin-top: 40px;
  margin-right: 20px;
  background-color: #fff;
  bottom: 130px;
  border-radius: 0 0 25px 25px;
  z-index: 3;
}

.cart__resume::before {
  display: block;
  content: "";
  border: 3px solid #d7d7f9;
  width: 300px;
  margin-left: 33.5px;
}

.subtotal,
.tax,
.total {
  display: flex;
}

.subtotal__text,
.tax__text,
.total__text {
  font-weight: bold;
  font-size: 16px;
  text-align: right;
  color: #000000;
  align-self: center;
  padding-top: 15px;
}

.subtotal__amount,
.tax__amount,
.total__amount {
  font-weight: bold;
  font-size: 32px;
  text-align: right;
  color: #000000;
}

.total__amount {
  color: #6b00f5;
}

.subtotal__text,
.subtotal__amount,
.tax__text,
.tax__amount,
.total__text,
.total__amount {
  flex-basis: 50%;
  margin: 10px;
}
